<h1><%= @restaurant.name %></h1>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<hr>
  <% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
  <hr>
  <% end %>
<hr>

<%= link_to "Back to restaurants", restaurants_path %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
